<!DOCTYPE html>
<html>
<head>
    <title>Monster Slayer</title>
    <script src="https://npmcdn.com/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="css/foundation.min.css">
    <link rel="stylesheet" href="css/app.css">
</head>
<body>
<div id="app">
        <section class="row controls" v-if="characterClass !== ''">
                <div class="small-12 columns">
                   {{characterClass}} Points: {{ points}}
                </div>
            </section>
    <section class="row">
        <div class="small-6 columns">
            <h1 v-if="characterClass !== ''" class="text-center controls">{{characterClass}}</h1>
            <div class="imageContainer">
                <img class="image" v-if="characterImage !== ''" v-bind:src="'./assets/player/' + characterImage" :alt="characterClass"/>
            </div>
            <div v-if="characterImage !== ''" class="healthbar" :style="{backgroundColor: backgroundColor1}">
                <div class="healthbar text-center" style="background-color: green; margin: 0; color: white;"
                :style="{ width: you + '%' }">
                    {{ you }}
                </div>
            </div>
        </div>
        <div class="small-6 columns">
            <h1 v-if="monsterType !== ''" class="text-center controls">{{monsterType}}</h1>
            <div class="imageContainer">
                <img class="image" v-if="monsterImage !== ''" v-bind:src="'./assets/monster/' + monsterImage" :alt="monsterType"/>
            </div>
            <div v-if="monsterType !== ''" class="healthbar" style="background-color: #eee;">
                <div class="healthbar text-center" style="background-color: green; margin: 0; color: white;"
                :style="{ width: monsterHitPoints / monsterDivideHitPoints + '%', backgroundColor: computedbackgroundColor }">
                    {{ monsterHitPoints }}
                </div>
            </div>
        </div>
    </section>
    <section class="row controls" v-if="!playingGame">
        <div class="small-12 columns">
            <button id="start-game" @click="startGame('Paladin')">START NEW GAME AS PALADIN</button>
        </div>
        <div class="small-12 columns">
            <button id="start-game" @click="startGame('Warrior')">START NEW GAME AS WARRIOR</button>
        </div>
    </section>
    
    <section class="row controls" v-else>
        <div class="small-12 columns">
            <button id="attack" @click="attack">ATTACK</button>
            <button id="special-attack" @click="specialAttack">SPECIAL ATTACK</button>
            <button id="heal" @click="heal">HEAL</button>
            <button id="give-up" @click="giveUp">GIVE UP</button>
        </div>
    </section>

    <section class="row controls" v-if="gameOver">
        <div>
            Sorry, you lose. Play again?
            <button v-on:click="giveUp">Yes!</button>
        </div>
    </section>

    <section class="row controls" v-if="alert">
            <div>
                You Win! Would you like to battle another monster?
                <button v-on:click="playAgain">Yes!</button>
                <button v-on:click="giveUp">No thank you</button>
            </div>
        </section>

    <section class="row log" v-if="battle.length">
        <div class="small-12 columns">
            <ul >
                <li v-for="item in battle">
                    <div>{{item.monster}}</div>
                    <div>{{item.you}}</div>
                </li>
            </ul>
        </div>
    </section>
    </div>
<script src="app.js"></script>

</body>
</html>